.pull-left ul li {
    cursor: pointer;
}

.btn-primary {
    background-color: #2698da;
    color: white !important;
}

.btn-primary:hover {
    background-color: #26c6da;
}

@media(max-width: 1024px) {
    .pull-right {
        float: none;
    }
}


